{% for appointment in appointments %}
  <li class="provider">
    <div class="row">
      <div class="div2">
        <img src="/files/{{ appointment.avatar }}"/></div>

      <div class="div1">
        <div class="component">
          <div >
            <strong>{{ appointment.name }}
            </strong>
          </div>
          <div class="box">
            <div class="div2">
              <div class="formatText">
                Hora da reserva: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div>{{ appointment.hora }}</div>

            </div>
            <div class="div2">
              <div class="formatText">
                Reservado em: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div>
                {{ appointment.reservadoem }}</div>
            </div>
            <div class="div2">
              <div class="formatText">
                Reservado para: &nbsp;&nbsp;&nbsp;
              </div>
              <div>{{ appointment.reservadopara }}</div>
            </div>
            <div class="div2">
              <div class="formatText">
                {{ appointment.complemento }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="link">

        <button class="btn btn-danger remove" value="{{ appointment.id }}">Delete</button>

        <a href="/app/schedule/delete/{{ appointment.id }}">+</a>
        <button type="submit" class="btn btn-default">
          <i class="fa fa-shopping-cart"></i>
        </button>.

      </div>
    </li>
  {% endfor %}
