{% extends "_layouts/auth.njk" %}

{% block body %}
  <div class="content">

    <form action="/app/quiosque" method="post" enctype="multipart/form-data">

      <ul class="social-buttons">
        <li class="content-aligth">
          <a href="/app/logout" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            &nbsp;&nbsp;&nbsp;Sair</a>
        </li>
      </ul>

      {% include "_partials/flash.njk" %}

      <label for="avatar">
        <img src="/images/avatar.svg" height="24"/>
      </label>
      <input id="avatar" name="avatar" type="file"/>

      <input type="text" name="name" placeholder="Nome completo">

      <input type="text" name="complemento" placeholder="Complemento">

      <label for="provider">
        <input type="checkbox" id="provider" name="provider" value="1">
        Apto para uso
      </label>
      <button type="submit">
        <i class="fas fa-check"></i>
        &nbsp;&nbsp;&nbsp;Salvar
      </button>

    </form>

    <br>

    <p>Veja abaixo a lista de quiosques:</p>

    <ul class="providers">
      {% for provider in providers %}
        <li class="provider">
          <div class="row">
            <div class="div2">
              <img src="/files/{{ provider.avatar }}"/>

              <div class="div1">
                <div class="component">
                  <div >
                    <strong>{{ provider.name }}</strong>
                  </div>
                  <div class="box2">
                    <div class="formatText">
                      {{ provider.complemento }}</div>
                  </div>
                </div>
              </div>

              <div class="link">
                <a href="/app/reservas/new/{{ provider.id }}">
                  <i class="fas fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/dashboard" class="logout">Voltar ===>
    </a>

  </div>

  <script type="text/javascript">
    var avatarInput = document.getElementById('avatar')
    var img = document.querySelector('label[for=avatar] img')

    avatarInput.onchange = function (e) {
      img
        .classList
        .add('preview')
      img.src = URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
