{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/resend" method="post">
    <img src="/images/logo.svg" height="42"/>

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="Seu e-mail">

    <button type="submit">
      <i class="fas fa-check"></i>
      &nbsp;&nbsp;&nbsp; Solicitar</button>
    <a href="/">
      <i class="fas fa-arrow-left"></i>
      &nbsp;&nbsp;&nbsp; Já possuo conta</a>

  </form>

{% endblock %}
