{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/app/user" method="post" enctype="multipart/form-data">
    {% include "_partials/flash.njk" %}

    <strong>Olá,
      {{ usuario.name }}</strong>

    <p>Usuário criados aqui são os administradores do sistema!</p>

    <label for="avatar">
      <img src="/images/avatar.svg" height="24"/>
    </label>

    <input id="avatar" name="avatar" type="file"/>

    <span class="inputWithIcon">
      <input type="text" name="name" placeholder="Nome completo">
      <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </span>

    <span class="inputWithIcon">
      <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
      <input type="email" name="email" placeholder="Seu e-mail">
    </span>

    <span class="inputWithIcon">
      <i class="fa fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
      <input type="password" placeholder="Nova senha" name="password" id="password" required="required">
    </span>

    <span class="inputWithIcon">
      <i class="fa fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
      <input type="password" placeholder="Confirme Senha" name="confirma_password" id="confirm_password" required="required">
    </span>

    <button type="submit">
      <i class="fas fa-check"></i>
      &nbsp;&nbsp;&nbsp; Criar conta</button>
    <a href="/">
      <i class="fas fa-arrow-left"></i>
      &nbsp;&nbsp;&nbsp; Voltar</a>
  </form>

  <script type="text/javascript">
    var avatarInput = document.getElementById('avatar')
      var img = document.querySelector('label[for=avatar] img')

        avatarInput.onchange = function (e) {
          img
            .classList
            .add('preview')
          img.src = URL.createObjectURL(e.target.files[0])
        }

        var password = document.getElementById("password"),
          confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
          if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Senhas diferentes!");
          } else {
            confirm_password.setCustomValidity('');
          }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
  </script>
{% endblock %}
