{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Seus agendamentos</strong>
    <div class="provider">
      <div><img src="/files/{{ user.avatar}}">
        <strong>Olá,
          {{ user.name }}</strong>
      </div>
    </div>
    <p>Veja abaixo a lista:</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <img src="/files/{{ appointment.user.avatar }}"/>
            <strong>{{ appointment.provider.name }}
              <br>
              {{ appointment.date | date("DD/MM/YYYY") }}
            </strong>
          </div>
          <a href="/app/reservas/new/{{ provider.id }}">Deletar</a>
          <button class='btn btnDelete' href=''>delete</button>
          <input type="submit" value="delete" onclick="return ConfirmDelete()"/>
          <button class="confirm" type="button">Delete the comment</button>
          <button class="confirm" type="button" data-text="Do you really want to delete that comment?" data-confirm-button="Yes I am" data-cancel-button="Whoops no">
            Delete the user
          </button>
        </li>
      {% endfor %}
    </ul>

    {% include "_partials/flash.njk" %}

    <a href="/app/dashboard" class="logout">Voltar</a>


  </div>
  <script type="text/javascript">
    $(".confirm").confirm({
      text: "Are you sure you want to delete that comment?",
      title: "Confirmation required",
      confirm: function (button) {
        delete();
      },
      cancel: function (button) {
        // nothing to do
      },
      confirmButton: "Yes I am",
      cancelButton: "No",
      post: true,
      confirmButtonClass: "btn-danger",
      cancelButtonClass: "btn-default",
      dialogClass: "modal-dialog modal-lg" // Bootstrap classes for large modal
    });

    function ConfirmDelete() {
      return confirm("Are you sure you want to delete?");
    }

  </script>
{% endblock %}
