{% extends "_layouts/default.njk" %}
{% block body %}
  <div class="content">

    <div class="provider">
      <div class="row">
        <div class="div2">
          <img src="/files/{{ provider.avatar }}"/>

          <div class="div1">
            <div class="component">
              <div >
                <strong>{{ provider.name }}</strong>
              </div>
              <div class="box2">
                <div class="div2">
                  <div class="formatText">
                    {{ provider.complemento }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "_partials/flash.njk" %}

    <strong>Agendando horário</strong>

    <form id="form" action="/app/reservas/new/{{ provider.id }}" method="post">
      <input type="text" id="datareserva" name="date" class="flatpickr" placeholder="Escolha uma data">

      <button type="submit">
        <i class="fas fa-check"></i>
        &nbsp;&nbsp;&nbsp;Agendar
      </button>

      <a href="/app/dashboard" class="voltar">
        <i class="fas fa-arrow-left"></i>
        &nbsp;&nbsp;&nbsp;Voltar</a>
    </form>

  </div>

  <script type="text/javascript">

    var form = document.getElementById('form'),
      nome = document.getElementById('datareserva');

    form.onsubmit = function () {
      if (nome.value == "") {

        bootbox.alert({title: 'Atenção!', message: "O campo data não pode ficar vazio!", size: 'small'});

        return false;
      }
    };

    flatpickr('.flatpickr', {
      minDate: new Date(),
      maxDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0),
      weekNumbers: true,
      dateFormat: 'd/m/Y',
      locale: 'pt',
      disable: [
        function (dateObject, available = `{{available}}`) {
          const array = available
            .split(",")
            .map(m => m);

          for (var i = 0; i < array.length; i++) {

            if (dateObject.getTime() === new Date(array[i]).getTime())
              return true;
            }
          return false;

        }
      ]

    })
  </script>
{% endblock %}
