{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá,
      {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um quiosque:</p>
    {% include "_partials/flash.njk" %}
    {% if (user.provider === false) %}
      <a href="/app/schedule">Meus agendamentos</a>
      <br>
      <ul class="providers">
        {% for provider in providers %}
          <li class="provider">
            <div>
              <img src="/files/{{ provider.avatar }}"/>
              <strong>{{ provider.name }}</strong>
              <br>
              {{ provider.complemento }}
            </div>
            <a href="/app/reservas/new/{{ provider.id }}">+</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if (user.provider === true) %}
      <a href="/app/schedule">Meus agendamentos</a>
      <a href="/app/quiosque" class="logout">Cadastrar Quiosque</a>
      <a href="/app/user" class="logout">Cadastrar Usuário</a>
    {% endif %}
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
