{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">

    <div class="auth-wrapper">
      <div >
        <img src="/files/{{ user.avatar}}" height="24"/>
      </div>
    </div>
    <strong>Olá,
      {{ usuario.name}}</strong>

    <ul class="social-buttons">
      <li class="content-aligth">
        <a href="/app/logout" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          &nbsp;&nbsp;&nbsp;Sair</a>
      </li>
    </ul>

    <ul class="social-buttons">

      {% if (user.provider === true) %}
        <li>
          <a href="/app/quiosque" class="editar">
            <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp; Cadastrar Quiosque</a>
        </li>
        <li>
          <a href="/app/user" class="editar">
            <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp; Cadastrar Usuário</a>
        </li>
      {% endif %}

      <li>
        <a href="/app/user/edit/{{ user.id }}" class="editar">
          <i class="fas fa-edit"></i>
          &nbsp;&nbsp;&nbsp;Editar Perfil</a>
      </li>
      <li>
        <a href="/app/user/edit/senha/{{ user.id }}" class="editar">
          <i class="fas fa-edit"></i>
          &nbsp;&nbsp;&nbsp;Editar Senha</a>
      </li>
      <li>
        <a href="/app/schedule">
          <i class="fas fa-calendar-check" role="presentation"></i>
          &nbsp;&nbsp;&nbsp;Meus agendamentos</a>
      </li>
    </ul>

    <br>
    {% include "_partials/flash.njk" %}

    {% if (user.provider === false) %}

      <p>Inicie um agendamento escolhendo uma opção:</p>

      <ul class="providers">
        {% for provider in providers %}
          <li class="provider">
            <div class="row">
              <div class="div2">
                <img src="/files/{{ provider.avatar }}"/>

                <div class="div1">
                  <div class="component">
                    <div >
                      <strong>{{ provider.name }}</strong>
                    </div>
                    <div class="box2">
                      <div class="formatText">
                        {{ provider.complemento }}</div>
                    </div>
                  </div>
                </div>

                <div class="link">
                  <a href="/app/reservas/new/{{ provider.id }}">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
