{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá,
      {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um quiosque:</p>
    <h1>Lista de Contatos <i class="fa fa-address-book-o" aria-hidden="true"></i></h1>

    {% include "_partials/flash.njk" %}
    {% if (user.provider === false) %}
      <a href="/app/schedule">Meus agendamentos</a>
      <br>
      <ul class="providers">
        {% for provider in providers %}
          <li class="provider">

            <div class="row">
              <div class="div2">
                <img src="/files/{{ provider.avatar }}"/>

                <div class="div1">
                  <div class="component">
                    <div >
                      <strong>{{ provider.name }}</strong>
                    </div>
                    <div class="box2">

                      <div class="formatText">
                        {{ provider.complemento }}</div>

                    </div>
                  </div>
                </div>

                <div class="link">
                  <a href="/app/reservas/new/{{ provider.id }}">+</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if (user.provider === true) %}
          <a href="/app/schedule">Meus agendamentos</a>
          <a href="/app/quiosque" class="logout">Cadastrar Quiosque</a>
          <a href="/app/user" class="logout">Cadastrar Usuário</a>
        {% endif %}
        <a href="/app/logout" class="logout">Sair</a>
      </div>
    {% endblock %}
