{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/app/codigo" method="post">
    {% include "_partials/flash.njk" %}

    <strong>Olá,
      {{ usuario.name }}</strong>

    <p>Cadastre todos os códigos dos associados!</p>

    <span class="inputWithIcon">
      <input type="text" name="codigointerno" placeholder="Código do sócio">
      <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </span>

    <span class="inputWithIcon">
      <input type="text" name="nome" placeholder="Nome completo">
      <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </span>

    <button type="submit">
      <i class="fas fa-check"></i>
      &nbsp;&nbsp;&nbsp; Salvar</button>
    <a href="/app/dashboard">
      <i class="fas fa-arrow-left"></i>
      &nbsp;&nbsp;&nbsp; Voltar</a>
  </form>
{% endblock %}
